/* src/styles/scrollbar.css */
.scrollbar-thin::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f3f4f6;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #6da5f9;
    border-radius: 6px;
  }
  